body {
  background:url("../assets/mountain.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align:center;
}
h2 {
  color:indigo;
  font-family:cursive;
}
h1 {
  font-family:fantasy;
  color:dark grey;
}
h3 {
  font-family:cursive;
  color:orange;
  background:purple;
  width:200px;
}
table {
  margin-left: auto;
  margin-right: auto;
}
label {
  background:magenta;
  color:orange;
  font-family:fantasy;
}
.link {
  color:black;
  background:magenta;
}